[global]
cli_colors = false
secret_key = "" # 256-bit base64

[debug]
sentry_dsn = ""

[release]
sentry_dsn = "" # sentry.io

[global.databases]
wanheda = { url = "postgres://username:password@localhost/database" }
